*{
  font-family: url(/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
.side{
  height:83vh;
}

.hover-border:hover {
  border: 1px solid #0d6efd;
  color: #0d6efd !important;
  background-color: #DBEAFE;
}

.Active{
  border: 1px solid #0d6efd;
  color: #0d6efd !important;
  background-color: #DBEAFE;

}
