.hover-border:hover {
  border: 1px solid #0d6efd;
  color: #0d6efd !important;
  background-color: #DBEAFE;
}

.Active{
  border: 1px solid #0d6efd;
  color: #0d6efd !important;
  background-color: #DBEAFE;

}
.sidebar {
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;

  .profile-section {
    margin-top: auto;
    position: absolute;
    bottom: 10px;

    .profile-trigger {
      cursor: pointer;
      border-top: 1px solid #ddd;
      padding: 15px 10px;
      display: flex;
      align-items: center;

      .profile-icon {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: #0d6efd;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
      }
    }

    .profile-menu {
      position: absolute;
      bottom: 60px;
      left: 10px;
      background: #fff;
      width: 200px;
      border-radius: 6px;
      padding: 10px;
      z-index: 100;

      .menu-item {
        display: block;
        padding: 8px 10px;
        cursor: pointer;
        border-radius: 4px;
        color: #333;
        text-decoration: none;

        &:hover {
          background: #f3f3f3;
        }
      }
    }
  }
}
