.card{
  background-image: url(../../../../../../public/assets/images/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    position: absolute;
    bottom: 20px;
    margin: auto;
    background: #0d6dfd96;
    border: 0;
    color: #fff;
    font-weight: 600;
    transition-duration: .5s;

    &:hover{
      background: #0d6efd;
      transform: scale(1.1);
    }
  }
}


