<div class="d-flex justify-content-start h-100 w-100">
    <div class="loginSection w-100" >
  <form [formGroup]="changePass">
    <div class="form-group pb-3">
      <label for="exampleInputNewPassword" class="pb-1">Current Password</label>
      <input type="password" class="form-control" id="exampleInputNewPassword" placeholder="New Password" formControlName="oldPassword" />
      @if(changePass.get('oldPassword')?.touched && changePass.get('oldPassword')?.invalid) {
          <div class="invalid-feedback d-block">
            @if(changePass.get('oldPassword')?.errors?.['required']) {
              <p>Password is required.</p>
            }
            @if(changePass.get('oldPassword')?.errors?.['minlength']) {
              <p>Password must be at least 8 characters.</p>
            }
            @if(changePass.get('oldPassword')?.errors?.['pattern']) {
              <p>Password must contain uppercase, lowercase, number, and special character.</p>
            }
          </div>
        }
    </div>
    <div class="form-group pb-3">
      <label for="exampleInputNewPassword" class="pb-1">New Password</label>
      <input type="password" class="form-control" id="exampleInputNewPassword" placeholder="New Password" formControlName="password" />
      @if(changePass.get('password')?.touched && changePass.get('password')?.invalid) {
          <div class="invalid-feedback d-block">
            @if(changePass.get('password')?.errors?.['required']) {
              <p>Password is required.</p>
            }
            @if(changePass.get('password')?.errors?.['minlength']) {
              <p>Password must be at least 8 characters.</p>
            }
            @if(changePass.get('password')?.errors?.['pattern']) {
              <p>Password must contain uppercase, lowercase, number, and special character.</p>
            }
          </div>
        }
    </div>
    <div class="form-group pb-3">
      <label for="exampleInputConfNewPassword" class="pb-1">Confirm New Password</label>
      <input type="password" class="form-control" id="exampleInputConfNewPassword" placeholder="Confirm New Password" formControlName="rePassword" />
      @if(changePass.get('rePassword')?.touched && changePass.get('rePassword')?.invalid) {
            <div class="invalid-feedback d-block">
              @if(changePass.get('rePassword')?.errors?.['required']) {
                <p>Confirm Password is required.</p>
              }
            </div>
          }
    </div>
    <app-alert [message]="apiError" type="danger"></app-alert>
    <button type="submit" routerLink="/verifycode" class="btn btn-auth w-100 mb-4" (click)="ChangePassword()">Update Password</button>
  </form>
</div>
</div>
