@if(formName.get(InputName)?.touched && formName.get(InputName)?.invalid) {
          <div class="invalid-feedback d-block">
            @if(formName.get(InputName)?.errors?.['required']) {
              <p>{{InputName}} is required.</p>
            }
            @if(formName.get(InputName)?.errors?.['minlength']) {
              <p>{{InputName}} must be at least 8 characters.</p>
            }
            @if(formName.get(InputName)?.errors?.['pattern']) {
              <p>{{InputName}} must contain uppercase, lowercase, number, and special character.</p>
            }
          </div>
        }
