@if(formName.get('password')?.touched && formName.get('password')?.invalid) {
          <div class="invalid-feedback d-block">
            @if(formName.get('password')?.errors?.['required']) {
              <p>Password is required.</p>
            }
            @if(formName.get('password')?.errors?.['minlength']) {
              <p>Password must be at least 8 characters.</p>
            }
            @if(formName.get('password')?.errors?.['pattern']) {
              <p>Password must contain uppercase, lowercase, number, and special character.</p>
            }
          </div>
        }
