.leftSection{
    background-color: #F0F4FC;
    h1{
        font-size: 60px;
        span{
            color: #4461F2;
        }
    }
    img{
        width: 65%;
    }
}

.rightSection {
    color: #1F2937;
}