.light {
  color: #9CA3AF !important;
}

.back {
  font-size: 13px;
  cursor: pointer;

  &:hover {
    background-color: #0d6efd;
    color: white !important;
  }
}

.rightSec {
  width: calc(100% - 62px);
}

.backSec {
  width: 60px;
}
