<div class="mb-2 p-3 bg-light rounded border">
        <h5 class="text-primary fw-bold mb-3">{{questionName}}</h5>
        <div class="p-2 mb-2 rounded bg-danger bg-opacity-10 d-flex align-items-center">
          <input type="radio" name="q1" checked disabled class="me-2" />
          <span>{{wrongAnswer}}</span>
        </div>
        <div class="p-2 rounded bg-success bg-opacity-10 d-flex align-items-center">
          <input type="radio" name="q1" disabled class="me-2" />
          <span>{{correctAnswer}}</span>
        </div>
</div>
