    input::placeholder{
        font-weight: 200;
        font-size: 14px;
    }

    label {
        font-weight: 400;
    }

    .otp-box {
      max-width: 420px;
      width: 100%;
    }

    .otp-inputs {
      gap: 10px;
      margin: 20px 0;
    }

    .otp-inputs input {
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 1.25rem;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    .otp-inputs input:focus {
      border-color: #2563eb;
      outline: none;
      box-shadow: 0 0 3px #2563eb;
    }

    .edit-link:hover {
      text-decoration: underline;
    }

    .back-arrow {
      font-size: 1.5rem;
      color: #000;
    }