input::placeholder{
    font-weight: 200;
    font-size: 14px;
}

label{
    font-weight: 400;
}

.phone-input {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 10px;
  width: 280px;
  background-color: #fff;
}

.phone-input .country {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #555;
  font-size: 14px;
}

.phone-input input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  color: #444;
}
