*{
  font-family: url('../../../.../../../public/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

.light{
    color: #ccc;
}


.side{
    max-height: 100vh;
    overflow: auto !important;
}

.bl{
  background-color: #EFF6FF;
}
