html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}


    .btn-auth {
      background-color: #2563eb;
      color: #fff;
      font-weight: 500;
      border: none;
      width: 100%;
      padding: 12px;
      border-radius: 5px;
    }

    .btn-auth:hover {
      background-color: #1d4ed8;
      color: white;
    }
